<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhnacademy.todo.event.mapper.EventMapper">

    <insert id="save">
        insert into events set
        event_id= #{id},
        user_id= #{userId},
        subject= #{subject},
        event_at= #{eventAt},
        created_at= #{createdAt}
    </insert>

    <delete id="delete">
        DELETE FROM events
        WHERE event_at= #{todoDate} AND event_id= #{eventId}
    </delete>

    <delete id="deleteTodoItem">
        DELETE FROM events
        WHERE event_id= #{eventId}
    </delete>

    <delete id="deleteTodoItemOfDay">
        DELETE FROM events
        WHERE event_at= #{todoDate}
    </delete>


    <select id="getTodoItem" resultType="com.nhnacademy.todo.event.domain.Event">
        SELECT *
        FROM events
        WHERE event_id= #{eventId}
    </select>

    <select id="getTodoItemListOfDay" resultType="com.nhnacademy.todo.event.domain.Event">
        SELECT *
        FROM events
        WHERE DATE_FORMAT(event_at, '%Y-%m-%d') = #{date_YMD}
    </select>


    <select id="getTodoItemListOfMonth" resultType="com.nhnacademy.todo.event.domain.Event">
        SELECT event_id, event_at, subject
        FROM events
        WHERE DATE_FORMAT(event_at, '%Y-%m') = #{date_YM}
    </select>


    <select id="countByTodoDate" resultType="java.lang.Integer">
        select count(*) as count
        from events
        where date_format(event_at, '%Y-%m-%d') = #{date}
    </select>

    <select id="getLastEventId" resultType="java.lang.Long">
        SELECT event_id
        FROM events
        ORDER BY event_id DESC LIMIT 1
    </select>

</mapper>